.app__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app__window {
  max-width: 100%;
}

.app__instructions {
  max-width: 20%;
  align-self: center;
}

.app__highlight {
  color: var(--primary);
  font-weight: 600;
}

.instructions__text {
  margin-bottom: 0.5rem;
}