/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
  /* Uncomment when working with breakpoints */
  /* border: 1px solid red; */
}

.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.accent__heading {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: var(--primary);
}

.mobile__hidden {
  display: none;
  text-align: center;
}

.warning__icon {
  margin: 1.5rem auto;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }

  .mobile__hidden {
    display: block;
  }

  .warning,
  .title__section,
  .instructions__section,
  .app__section {
    display: none;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .mobile__hidden {
    display: none;
  }

  .warning,
  .title__section,
  .instructions__section,
  .app__section {
    display: block;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
